<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926364254316-nv0e26kudev89hvgaok2jv20fsesl8s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926364254316-nv0e26kudev89hvgaok2jv20fsesl8s1</string>
	<key>API_KEY</key>
	<string>AIzaSyCcI0gF_-QU7gr6q0ioOiyHmjb-WRJ47S8</string>
	<key>GCM_SENDER_ID</key>
	<string>926364254316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ataugurkaratas.KaratasSozluk</string>
	<key>PROJECT_ID</key>
	<string>karatassozluk</string>
	<key>STORAGE_BUCKET</key>
	<string>karatassozluk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926364254316:ios:94ec03d9b217c612021849</string>
	<key>DATABASE_URL</key>
	<string>https://karatassozluk-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>